<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bqt.test">

    <application
        android:icon="${app_logo}"
        android:label="@string/app_icon_name"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar">
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="chanel"
            android:value="${app_channel_value}"/>

        <meta-data
            android:name="releaseTime"
            android:value="${release_time_value}">
        </meta-data>

        <meta-data
            android:name="baiduMapKey"
            android:value="${baidu_map_key_value}">
        </meta-data>
    </application>

</manifest>